.imagess {
    height: auto;
    width: 100%;
    border-style: inset;
    border-color: antiquewhite;
    box-sizing: border-box;
    border-radius: 15px;
    max-width: 480px;
}

* {
    background-color: grey;
    text-align: center;
    color: darkslategray;
}

.introduction > h1{
    background-color: rgb(247, 231, 208);
    padding: 20px;
    border-radius: 15px;
    border-style: groove;
    margin: 5px 0px;
    border-color: white darkgray darkgrey white;
}
.introduction {
    width: 95%;
    margin: 0 auto;
}

.main1 *,
.main1 {
    background-color: rgb(247, 231, 208);
}

.txtwork * {
    display: inline;
}

.contab {
    padding: 20px;
    margin: auto 0;
    border-radius: 25px;
}

.txtwork {
    width: 80%;
    margin: 3% auto;
}

.main1 {
    border-style: double;
    background-color: rgb(247, 231, 208);
    border-radius: 15px;
    margin-bottom: 5px;
    border-color: white darkgray darkgrey white;
}

p {
    font-weight: bold;
}

p a {
    color: grey;
}